.card-wrapper{
    background-color: #9B9B9B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 3rem;
    font-weight: 400;
    font-size: 1.6rem;
    color:white;
    padding: 3rem;
}

#add-income{
    border-radius: 0.8rem;
    min-width: 10rem;
    border:0;
    color: white;
    background-color: green;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.8rem;
    margin-top: 1rem;
}