/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body{
  background-color: #3B3B3B;
  font-family: "Ubuntu", sans-serif;
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #626262;
  border-radius: 15px;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 0px 4px rgb(51, 51, 51);
}

.transactions-expenses-wrapper-grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

#grid-item-1{
  grid-column-start: 1;
  grid-column-end: 4;
}

#grid-item-2{
  grid-column-start: 4;
  grid-column-end: 5;
}